@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.PageContent h2,
.PageContent h3,
.PageContent h4,
.PageContent h5,
.PageContent h6,
.PageContent p,
.PageContent ul,
.PageContent li
 {
  font-weight: medium;
  margin-bottom: 33px;
  font-family: 'Varela', sans-serif;
}

.PageContent h2,
.PageContent h3,
.PageContent h4,
.PageContent h5,
.PageContent h6 {
  font-size: 20px;
  text-align: center;
  font-family: 'Fira Code', monospace;
  font-weight: lighter;
}

.PageContent p {
  text-align: justify;
}

.PageLatex {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.Hero__text-animation {
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 0.35;
  }
}